<h2>Create Deck</h2>
 <form id='create_card' action='/create_card' method='post'>
          <input type='text' name='question' placeholder='Question'><br>
          <input type='text' name='answer' placeholder='Answer'><br>
          <input class="btn btn-primary" type='submit' value="Submit"><br>
        </form><br>

