<div class="container">
  <h1>Welcome to BARR Flashcards!</h1>

  <% unless @user %>
  <div class='user'>
    
    <h3> Login! </h3>
    
    <form id='login' action='/' method='post'>
      <input type='email' name='email' placeholder='Email' required="required">
      <input type='password' name='password' placeholder='Password'>
      <input type='submit' value="Submit">
    </form>
    
    <form id='signup' action='/' method='post'>
      <input type='text' name='name' placeholder='Name'>
      <input type='email' name='email' placeholder='Email' required="required">
      <input type='password' name='password' placeholder='Password'>
      <input type='submit' value='Submit'>
    </form>

  </div>
  <% end %>

  <div class='instructions'>
    <p> 1) Do this
    <p> 2) Do that
    <p> 3) Do the other thing
    <p> 4) Do another thing
  </div>

  <div class='decks'>
    <% if @decks %> 
      <% @decks.each do |deck| %>
      <%= deck.name %>
      <% end %>
    <% end %>
  </div>

</div>
